body {
  margin: 0;
  padding: 0;
  font-family: "Asap Condensed", sans-serif;
  background-color: #fafafa;
}

.cool-blue-text {
  color: #1666a0;
}

.logo {
  font-family: "Open Sans Condensed", sans-serif;
  color: #222;
}

.grey-text {
  color: #888;
}

.form-control {
  background-color: #fafafa;
  font-size: 14px;
  line-height: 18px;
}

.form-control::-webkit-input-placeholder {
  color: #999;
}

.form-control:focus {
  background-color: #fafafa;
}

.message {
  font-size: 14px;
}
.custom-navbar {
  background-color: white;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: #ddd;
  padding-top: 15px;
  padding-bottom: 15px;
}

.search-box {
  width: 300px;
  margin: auto;
  text-align: center;
}
.btn-cool-blue {
  background-color: #1666a0;
  color: #fff;
}

.text-cool-blue {
  color: #1666a0;
}
.bg-cool-blue {
  background-color: #1666a0;
}

.logout-dropdown {
  position: relative;
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}

.logout-dropdown:hover {
  cursor: pointer;
}

.dropdown-cust {
  right: 0;
  left: auto;
}
